/* Services */

.services {
  background-color: var(--bg-black-section) !important;
  min-height: auto !important;
  border-bottom: 1px solid var(--bg-black-50);
}

.services .container {
  padding-bottom: 40px;
}

.services .services-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;

  max-width: 33.33%;
}

.services .services-item .services-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.services .services-item .services-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.services .services-item .services-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.services .services-item .services-item-inner .icon i {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}

.services .services-item .services-item-inner:hover .icon {
  background-color: var(--skin-color);
  transition: all 0.3s ease;
}

.services .services-item .services-item-inner:hover .icon i {
  font-size: 25px;
  color: #fff;
  transition: all 0.3s ease;
}

.services .services-item .services-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

.services .services-item .services-item-inner h3 {
  color: var(--text-black-900);
}

.services .services-item .services-item-inner p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
